body {
    background-color:#FFF0F5;
}

h1 {
    color:	#B22222;
}
a {color:rgb(155, 104, 118);
    text-decoration: none;
    }
div {color:rgb(155, 104, 118);
    text-decoration: none;
    }
h1 {font-family: arial;
    }
h3 {color:rgb(155, 104, 118);
   text-decoration: none;
   }
p {color:rgb(155, 104, 118);
   text-decoration: none;
   }